<h1>What are we buying?</h1>
<form action='/checkout' method='post'>
    <p>Item for purchase</p>
    <input type='text' id='checkout' name='item'>
    <br>
    <input type="Submit" value="submit">
    <br>
    <button type="submit" value="submit">Submit To Test for Variety</button>
</form>